@using EntityLayer.Concrete;
@model Product
@{
    ViewData["Title"] = "Add";
}
<div class="container-fluid p-0 p-md-3">
    <div class="row p-0 mt-3">
        <div class="col">
            @using (Html.BeginForm("Add", "Product", FormMethod.Post))
            {
                <div class="mb-3">
                    <label for="exampleInputEmail1"
                       class="form-label">Ürün Adı</label>
                    @Html.TextBoxFor(x=>x.Name,new{@class="form-control shadow-sm"})
                    @Html.ValidationMessageFor(x=>x.Name,null,new{@class="text-danger"})
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Ürün Fiyatı ₺</label>
                    @Html.TextBoxFor(x=>x.Price,new{@class="form-control shadow-sm"})
                    @Html.ValidationMessageFor(x=>x.Price,null,new{@class="text-danger"})
                </div>
                <div class="mb-3">
                    <label for="exampleInputSelect" class="form-label">Ürün Kategori</label>
                    <select class="form-select shadow-sm"
                        name="CategoryId"
                        aria-label="Default select example"
                        id="exampleInputSelect">
                        @foreach (var item in @ViewData["Categories"] as List<Category>)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1"
                       class="form-label">Ürün Açıklama</label>
                    @Html.TextAreaFor(x=>x.Description,new{@class="form-control shadow-sm"})
                    @Html.ValidationMessageFor(x=>x.Description,null,new{@class="text-danger"})
                </div>
                <div class="mb-3">

                    <div class="form-check">
                        <input class="form-check-input"
                           type="radio"
                           name="Status"
                           value="true"
                           id="flexRadioDefault1" />
                        <label class="form-check-label" for="flexRadioDefault1">
                            Açık Ürün
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input"
                           type="radio"
                           name="Status"
                           value="false"
                           id="flexRadioDefault2" />
                        <label class="form-check-label" for="flexRadioDefault2">
                            Kapalı Ürün
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    Kaydet
                </button>
                <button type="submit" class="btn btn-danger">
                    Ürünü Sil
                </button>
            }
        </div>
    </div>
</div>
