@using EntityLayer.Concrete;
@model Product
@{
    ViewData["Title"] = "Details";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Ürün /</span> Ürün Detay</h4>
    <!-- Layout Demo -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Ürün Ekle</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Details", "Product", FormMethod.Post))
                {
                    <input type="hidden" value="@Model.Id" name="Id" />
                    @Html.TextBoxFor(x=>x.Id,new{type="hidden"})
                    @Html.TextBoxFor(x=>x.Status,new{type="hidden"})
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Ürün Adı</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-food-menu"></i>
                                </span>

                                @Html.TextBoxFor(x=>x.Name,new{placeholder="Döner",@class="form-control"})

                            </div>
                            @Html.ValidationMessageFor(x=>x.Name,null,new{@class="text-danger"})
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Ürün Fiyatı</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-money"></i>
                                </span>
                                @Html.TextBoxFor(x=>x.Price,new{placeholder="₺",@class="form-control"})

                            </div>
                            @Html.ValidationMessageFor(x=>x.Price,null,new{@class="text-danger"})
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Ürün Kategorisi</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-category"></i>
                                </span>
                                <select class="form-select form-control" id="exampleFormControlSelect1" aria-label="Default select example" name="CategoryId">
                                    <option value="@Model.CategoryId" selected>@Model.Category.Name</option>
                                    @foreach (var item in @ViewData["Categories"] as List<Category>)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 form-label" for="basic-icon-default-message">Kategori Açıklaması</label>
                        <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text">
                                    <i class="bx bx-comment"></i>
                                </span>
                                @Html.TextAreaFor(x=>x.Description,new{rows=1,placeholder="Döner kategorisinin Açıklaması",@class="form-control"})
                            </div>
                            @Html.ValidationMessageFor(x=>x.Description,null,new{@class="text-danger"})
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success d-inline-flex align-items-center">
                                <span class="tf-icons bx bx-plus-circle me-1"></span>Tamamla
                            </button>
                            <a href="/Product/Index" class="btn btn-warning d-inline-flex align-items-center">
                                <span class="tf-icons bx bx-left-arrow-circle me-1"></span>Geri
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--/ Layout Demo -->
</div>