@using EntityLayer.Concrete;
@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-0 p-md-3">
    <!--Products Details Start-->
    <div class="row p-0 mt-3">
        <div class="col-md-4">
            <div class="">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Aktif Ürün
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    @Model.FindAll(x => x.Status == true).Count() Adet
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3 mt-md-0">
            <div class="">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Kapalı Ürün
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    @Model.FindAll(x => x.Status == false).Count() Adet
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3 mt-md-0">
            <div class="">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Toplam Ürün
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    @Model.Capacity Adet
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Products Details End-->
    <div class="row p-0 mt-3">
        <div class="col">
            <div class="accordion" id="accordionExample">
                @foreach (var category in ViewData["Categories"] as List<Category>)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button bg-danger text-white collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#@category.Name"
                                aria-expanded="false"
                                aria-controls="@category.Name">
                                Kategori Adı: @category.Name (@category.Products.Count Ürün)
                            </button>
                        </h2>
                        <div id="@category.Name"
                         class="accordion-collapse collapse"
                         aria-labelledby="@category.Name"
                         data-bs-parent="#accordionExample">
                            <div class="accordion-body table-responsive">
                                <table class="table table-bordered align-middle text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ürün Adı</th>
                                            <th scope="col">Fiyatı</th>
                                            <th scope="col">Durumu</th>
                                            <th scope="col">Detay</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.FindAll(x => x.CategoryId == category.Id))
                                        {
                                            <tr>
                                                <th scope="row">@item.Name</th>
                                                <td>@item.Price <b>₺</b></td>
                                                <td>
                                                    @if (item.Status)
                                                    {
                                                        <span class="badge alert-success">Açık ürün</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge alert-danger">Kapalı ürün</span>
                                                    }
                                                </td>
                                                <td>
                                                    <a href="Product/Details/@item.Id"
                                               class="btn btn-main text-white w-100">Detay</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <br />
            <a href="/Product/Add" class="btn btn-success w-100 text-white">Yeni Ürün Ekle</a>
        </div>
    </div>
</div>