@{
    ViewData["Title"] = "Add";
}
@using EntityLayer.Concrete
@model Customer

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Layout Demo -->
    <div class="col-xxl">
        <div class="alert alert-info alert-dismissible" role="alert">
            Telefon numarası veritabanında kayıtlı ise datalistte gözükür eğer kayıtlı değilse eklemek için alan açılır.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Müşteri Numarası ve Adresi</h5>
            </div>
            <div class="card-body">
                @if ((ViewData["Streets"] as List<Street>) == null)
                {
                    <form>
                        <div class="row mb-3">
                            <label for="html5-tel-input" class="col-md-2 col-form-label">Telefon Numarası</label>
                            <div class="col-md-10">
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                                    <input type="text" class="form-control" name="phoneNo" list="datalistOptions" id="exampleDataList" placeholder="5075452953" aria-label="Search..." aria-describedby="basic-addon-search31">
                                </div>
                                <datalist id="datalistOptions">
                                    @foreach (var item in ViewData["Phones"] as List<Customer>)
                                    {
                                        <option value="@item.PhoneNumber"></option>
                                    }
                                </datalist>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary d-inline-flex align-items-center">
                            <span class="tf-icons bx bx-right-arrow-circle me-1"></span>İleri
                        </button>
                    </form>
                }
                @if ((ViewData["Streets"] as List<Street>) != null)
                {
                    <div class="bs-toast toast toast-placement-ex m-2 fade bg-danger top-0 start-50 translate-middle-x show" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                        <div class="toast-header">
                            <i class="bx bx-bell me-2"></i>
                            <div class="me-auto fw-semibold">Müşteri yok</div>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">Müşteri kayıtlı değil lütfen kaydedin ardından sipariş ekleme sayfasına yönlendirileceksiniz...</div>
                    </div>
                    <form method="post" action="@Url.Action("CustomerAdd", "PhoneOrder")">
                        <div class="row mb-3">
                            <label for="html5-tel-input" class="col-md-2 col-form-label">Telefon Numarası</label>
                            <div class="col-md-10">
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                                    <input type="text" class="form-control" value="@Model.PhoneNumber" name="PhoneNumber" id="exampleDataList" placeholder="5075452953" aria-label="Search..." aria-describedby="basic-addon-search31">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Sokak Seçiniz</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-category"></i>
                                    </span>
                                    <select class="form-select form-control" id="exampleFormControlSelect1" aria-label="Default select example" name="StreetId">
                                        <option selected="">Bir Sokak Seçiniz...</option>
                                        @foreach (var item in @ViewData["Streets"] as List<Street>)
                                        {
                                            <option value="@item.Id">@item.Name Sk.</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success d-inline-flex align-items-center">
                            <span class="tf-icons bx bx-plus-circle me-1"></span>Ekle
                        </button>
                    </form>
                }
            </div>
        </div>
    </div>
    <!--/ Layout Demo -->
</div>